.container{
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}
.main{
    width: 100%;
    display:flex;
}
.accountForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 7ch;
}
.profilePicture{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#picture{
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#saveBtn{
    width:20%;
    height: 2em;
    border: 2px solid #1BF808;
    border-radius: 30px;
    margin:0.5em 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #2CA800;
}
#saveBtn:hover{
    background: #55db52;
    color: white;
}
.emailText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 63px;
    color: rgba(0, 0, 0, 0.5);
}
.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 63px;
    color: #000000;
}

@media only screen  and (max-device-width: 800px){
    
    .emailText{
        font-size: 16px;
    }
    .text{
        font-size: 20px;
    }
    #saveBtn{
        width:30%;
    }
}
@media only screen and (max-device-width: 600px){
    #saveBtn{
        width: 40%;
    }
}
@media only screen and (max-device-width: 400px){
    #saveBtn{
        width: 60%;
    }
}
@media only screen and (max-device-width: 200px){
    #saveBtn{
        width: 70%;
    }
}