.infoMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.infoContainer{
   width: 70%;
   height: 80%;
   margin: auto;
   display: flex;
   flex-direction: column; 
   -webkit-box-shadow: 4px 7px 30px 5px rgba(66, 68, 90, 1);
   -moz-box-shadow: 4px 7px 30px 5px rgba(66, 68, 90, 1);
   box-shadow: 4px 7px 30px 5px rgba(66, 68, 90, 1);
}
.infoHeader{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.textHeader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: black;
}

.infoCenter{
    width: 100%;
    padding: 0 2em;
    margin-top: 1.5em;
}

.textCenter{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    display:flex;
    flex-direction: column;
}   

.examples{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#imgs{
   width: 100%;
}